# Gradle Files
/build/
/.gradle/
/out/

# Intellij Files
/.idea/
*.iml
*.ipr
*.iws

# Netbeans Files
/.nb-gradle/
*.nb-gradle-properties

# Project Files
src/test/
/SQL/
/backup/
*.json
*.txt
*.db
*.jar
*.sh
*.sql

# Secrets
src/main/java/party/balloonboat/utils/AlgorithmUtils.java